---
layout: layouts/cor-base.njk
templateClass: tmpl-home
---

<div class="cor-page cor-page--{{ css.pageClassVariation }}">

  <div class="cor-grid">
    <div class="cor-box">
      <div class="cor-stack">
          <h1 class="cor-h1">{{ title }}</h1>
          <p class="cor-h3">{{ abstract }}</p>
          
          {% if callToActions %}
          <div class="cor-cluster">
            <div>
               {% for ctaitem in callToActions %}
              <a href="{{ ctaitem.CTALink }}">{{ ctaitem.CTAText }}</a>
              {% endfor %}
            </div>
          </div>
          {% endif %}

      </div>
    </div>
    <div>
      {% if cover %}
        <img src="{{ poster }}" srcset="{{ poster }}-small.jpg 480w, {{ poster }}-large.jpg 1080w" sizes="50vw">
      {% else %}
        <img src="https://placeimg.com/1000/1000/nature" alt=""/>
      {% endif %}
      
    </div>
  </div>
 
  {% if nav %}
    <nav class="cor-nav {% if direction %}cor-nav--{{ direction }} {% endif %}">
      {% for navitem in nav %}
      <a href="{{ navitem.link }}">{{ navitem.text }}</a>
      {% endfor %}
    </nav>
  {% endif %}

  <div class="cor-with-sidebar">
    <div> <!-- intermediary wrapper -->
      <div>
        <nav>
          <a>link</a>
        </nav>
      </div>
      <div>
        <main>
          {{ content | safe }}
        </main>
      </div>
    </div>
  </div>

</div>
