---
layout: layouts/cor-base.njk
templateClass: tmpl-home
---

{{ content | safe }}

<cor-word-cloud class="cor-word-cloud"></cor-word-cloud>

<div>
  
  {% for item in survey %}
  
    <dt>{{item.question}}</dt>
      
      {% for response in item.responses %}
      
        <dd data-value="{{response.value}}" style="--value:{{response.value}};">
          {{response.text}} 

          {% if response.choices %}DDD
            <multi-bar-chart values="{% for choice in response.choices %}{{choice.value}},{% endfor %}"></multi-bar-chart>
          {% else %}
            <bar-chart value="{{response.value}}"></bar-chart>
          {% endif %}
        </dd>
      
      {% endfor %}

      <hr style="margin: 50px"/>
    
    {% endfor %}

    
  
</div>

<script src="https://cdn.jsdelivr.net/npm/@cor-web/cor-design-system/dist/bundle.js"></script>
