@import "_settings.css";
@import "../components/navbar/navbar.css";

.cor-page--jobs {
  --gap-sm: var(--s-2);
  --gap-md: var(--s0);
  --gap-lg: var(--s2);
  --max-width: 1200px;

  /* Layout */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--gap-lg);
  margin: 0 auto;
  max-width: var(--max-width);

  background-color: white;
}

.cor-page__head {
  display: grid;
  gap: var(--gap-lg);
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / -1;
}

.cor-page__content {
  display: grid;
  gap: var(--gap-lg);
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1 / -1;
}

.cor-page__content nav {
  grid-column: 1 / 4;
}

.cor-page__content main {
  grid-column: 4 / -1;
}

/* Images */
.cor-page__cover img {
  max-width: 100%;
}

.cor-page__cover img[width] {
  width: auto; /* Defer to max-width */
}
.cor-page__cover img[width][height] {
  height: auto; /* Preserve aspect ratio */
}

/* Let SVG scale without boundaries */
.cor-page__cover img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}
