/* Lists */

.list-none {
  list-style: none !important;
}

/* Margins */
.m-0 {
  margin: 0 !important;
}

/* Paddings */
.p-0 {
  padding: 0 !important;
}

/* Text alignment */
.text-center {
  text-align: center !important;
}